:root {
    --background: white;
    --grey: #A5A5A5;
    --green: #28A533;
    --text: black;
}

* {
    font-family: 'Reem Kufi Fun', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: var(--text);
    box-sizing: border-box;
    font-size: 12px;
}

body {
    background-color: var(--background);
}

/*====={Switch}=====*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--grey);
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--text);
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: var(--green);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--green);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
/*Section End*/

h1 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 10px;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 12px;
}

/*====={Navigation Bar}=====*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--background);
    position: fixed;
    top: 0;
    width: 100%;
    border: var(--grey);
    border-style: solid;
    border-width: 0px 0px 3px 0px;
}
  
li {
    float: left;
    width: 10vw;
}
  
li a {
    display: block;
    color: var(--text);
    text-align: center;
    text-decoration: none;
    font-size: xx-large;
}
  
li a:hover:not(.active) {
    background-color: var(--grey);
}
  
.active {
    background-color: var(--green);
}

label {
    float: right;
    margin-top: 7px;
    rotate: 90deg;
    transform: scale(70%);
}

input{
    width: 35vw;
    background-color: var(--grey);
    border: var(--text);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    margin: 5px;
    font-size: x-large;
}
/*Section End*/

/*====={Home Columns}=====*/
.left {
    width: 75vw;
    float: left;
}

.right {
    width: 25fr;
    float: right;
}
/*Section End*/

/*====={Recent Reviews}=====*/
.column-grid {
    display: grid;
    gap: 50px;
    grid-auto-columns: auto;
}

.column-grid div {
    background-color: var(--background);
    border-radius: 10px;
}

.column-grid img {
    width: 50%;
    float: left;
}

.bar {
    background-color: var(--green);
    width: 75%;
    height: 10px;
    float: left;
    margin-top: 10px;
}

.column-grid h2 {
    padding-left: 52%;
    padding-right: 2%;
}

.column-grid h4 {
    padding-left: 52%;
    padding-right: 2%;
}
/*Section End*/

/*====={Home Summary}=====*/
.SectionOne {
    padding: 0px 6% 5%;
}

.SectionOne img{
width: 10%;
height: 120px;
float: left;
}

.AboutText {
    text-align: center;
}
/*Section End*/

/*====={Grid Layout}=====*/
.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.grid-layout > div {
    background-color: var(--grey);
    border-radius: 15px;
}

.grid-layout img {
    width: 100%;
    border-radius: 15px;
}
/*Section End*/

/*====={Dropdown}=====*/
.dropdown {
    margin-right: 3%;
    align-self: right;
}
  
button{
    border:none;
    border-radius:5px;
    padding:15px 30px;
    font-size:18px;
    cursor:pointer;
}
  
button:hover{
    background-color:#ddd;
}
  
.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:#fff;
    border-radius:5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
  
.dropdown:hover .dropdown-options {
    display: block;
}
  
.dropdown-options a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    padding:20px 40px;
}
  
.dropdown-options a:hover {
    color: #0a0a23;
    background-color: #ddd;
    border-radius:5px;
}
/*Section End*/